@page "/"
@using Blazored.LocalStorage
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size

@inject MapService MapService
@inject LocationService LocationService
@inject ILocalStorageService LocalStorage
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>Accidents</PageTitle>

<div class="main-div relative" style="overflow: clip">
    <Map Top="0" Left="0" Bottom="0" Right="0"
         InitialPosition="@OriginalPosition" MinZoom="@MinZoom" MaxZoom="@MaxZoom"
         Loaded="@OnMapLoaded" Resized="@OnMapResized"
         ZoomEnded="@OnZoomEnded" MoveEnded="@OnMapMoveEnded" Moved="@OnMapMoved">
    </Map>
    @foreach (var group in DisplayGroups)
    {
        <MudFab Label="@($"{group.Accidents.Count}")" Class="absolute white-text" 
                Style="@(GetPositionString(group.Position) + ";background-color: var(--mud-palette-dark);")"
                OnClick="@(() => ShowPopup(group))"/>
    }
    <MudPaper Elevation="2" Class="absolute pa-3 rounded-xl frosted" Style="top: 25px; left: 25px;">
        <MudStack Spacing="4">
            <MudFab OnClick="@MapService.ZoomIn" Size="Size.Small" StartIcon="@Icons.Add" Color="Color.Dark"/>
            <MudFab OnClick="@MapService.ResetPosition" Size="Size.Small" StartIcon="@Icons.GpsFixed" Color="Color.Dark"/>
            <MudFab OnClick="@MapService.ZoomOut" Size="Size.Small" StartIcon="@Icons.Remove" Color="Color.Dark"/>
        </MudStack>
    </MudPaper>
    <MudPaper Elevation="2" Class="absolute py-4 px-6 rounded-xl justify-space-around frosted" Style="top: 25px; right: 25px; min-width: 30%; width: 40%; bottom: 25px"
              @onmouseenter="@AccidentTabHovered" @onmouseleave="@AccidentTabUnhovered">
        <MudStack Spacing="4" Style="width: 100%; height: 100%">
            <MudPaper Elevation="4" Class="rounded-xl d-flex gap-2 pa-2 align-center justify-center">
                <MudSelect Variant="Variant.Outlined" T="string?" Label="Day" ValueChanged="DayChanged" Value="@((Filters.ContainsKey("Day") ? Filters["Day"].ToString() : string.Empty))">
                    <MudSelectItem T="string?" Value="null"/>
                    @foreach (var day in Days)
                    {
                        <MudSelectItem T="string?" Value="day"/>
                    }
                </MudSelect>
                <MudSelect Variant="Variant.Outlined" T="string?" Label="Surface" ValueChanged="SurfaceChanged" 
                           Value="@((Filters.ContainsKey("Surface") ? Filters["Surface"].ToString() : string.Empty))">
                    <MudSelectItem T="string?" Value="null"/>
                    @foreach (var surface in Surfaces)
                    {
                        <MudSelectItem T="string?" Value="surface"/>
                    }
                </MudSelect>
                <MudSelect Variant="Variant.Outlined" T="string?" Label="Type" ValueChanged="TypeChanged" 
                           Value="@((Filters.ContainsKey("Type") ? Filters["Type"].ToString() : string.Empty))">
                    <MudSelectItem T="string?" Value="null"/>
                    @foreach (var type in Types)
                    {
                        <MudSelectItem T="string?" Value="type"/>
                    }
                </MudSelect>
                <MudSelect Variant="Variant.Outlined" T="string?" Label="Cause" ValueChanged="CauseChanged" 
                           Value="@((Filters.ContainsKey("Cause") ? Filters["Cause"].ToString() : string.Empty))">
                    <MudSelectItem T="string?" Value="null"/>
                    @foreach (var cause in Causes)
                    {
                        <MudSelectItem T="string?" Value="cause"/>
                    }
                </MudSelect>
                <div class="d-flex">
                    <MudTooltip Text="@(InjuriesOnly ? "Show all" : "Show only with injuries")">
                        <MudToggleIconButton Icon="@Icons.PersonalInjury" ToggledIcon="@Icons.PersonalInjury" 
                                             Color="Color.Default" ToggledColor="Color.Warning"
                                             Toggled="@InjuriesOnly" ToggledChanged="InjuriesOnlyChanged"/>
                    </MudTooltip>
                    <MudTooltip Text="@(CasualtiesOnly ? "Show all" : "Show only with casualties")">
                        <MudToggleIconButton Icon="@Icons.PersonOutline" ToggledIcon="@Icons.PersonOutline" 
                                             Color="Color.Default" ToggledColor="Color.Error"
                                             Toggled="@CasualtiesOnly" ToggledChanged="CasualtiesOnlyChanged"/>
                    </MudTooltip>
                    <MudTooltip Text="@(CasualtiesOnly ? "Show all" : "Show only manually added")">
                        <MudToggleIconButton Icon="@Icons.FrontHand" ToggledIcon="@Icons.FrontHand"
                                             Color="Color.Default" ToggledColor="Color.Info"
                                             Toggled="@ManualOnly" ToggledChanged="ManualOnlyChanged"/>
                    </MudTooltip>
                </div>
            </MudPaper>
            <MudPaper Class="rounded-xl pa-2 d-flex justify-center align-center gap-2">
                <MudTextField T="string" @bind-Text="@ManualUrl" Variant="Variant.Outlined" Label="Url"/>
                <MudButton Color="Color.Info" Class="rounded-pill px-2" OnClick="AddManualClick" Variant="Variant.Filled"
                           Disabled="@ManualUrlLoading">
                    @if(!ManualUrlLoading)
                    {
                        <span>Add accident</span>
                    }
                    else
                    {
                        <MudProgressCircular Indeterminate="true" Color="Color.Dark"/>
                    }
                </MudButton>
            </MudPaper>
            <MudPaper Class="rounded-xl flex-auto accidents-list flex-auto" Style="height: 70%; overflow: clip">
                <MudDataGrid Items="FilteredAccidents" FixedHeader="true" Dense="true" Style="height: 100%"
                             RowClass="clickable-row" RowClick="@((DataGridRowClickEventArgs<Accident> args) => RowClicked(args.Item))">
                    <Columns>
                        <PropertyColumn Title="Title" Property="@(a => a.Title)"/>
                    </Columns>
                </MudDataGrid>
            </MudPaper>
            <AccidentsCounter Done="@Accidents.Count" Failed="@TriedUrls.Count" All="@AccidentCount"/>
        </MudStack>
    </MudPaper>
</div>